*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Dreadfull";
    src: url("../fonts/Vintage\ Whiskey\ Regular.otf");
  }
  

:root {
	--index: calc(1vw + 1vh);
	--gallery-gap: calc(var(--index) * 7.5)
}

body {
    margin: 0;
    font-family: 'Montserrat',sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    overflow-x: hidden;
    
    
    background: #434242;
        
    
}
.hero {
	width: calc(var(--index) * 36);
	position: absolute;
	left: 37vw;
	top: 22vh;
	z-index: -1;
}





h1, h2, h3, h4, h5, h6{
    margin: 0;
}
.img{
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
    top: 0;
}
.container {
   padding: 0 4vw;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 90vh;
    
    background: url(../images/tv-room.jpg)center no-repeat;
    -webkit-background-size:cover;
    background-size: cover;
    z-index: -1;
}

.intro_title {
    font-family: 'Dreadfull';
    font-size: calc(var(--index) * 8);
    text-align:right;
    padding-top: 35vh;
	width: min-content;
	margin-left: 50vh;
    margin-right: auto;
	line-height: .9;
    text-align: right; /* Выравнивание текста по правому краю */
    vertical-align: top;
    
    
    color: #fff8e8;
    text-shadow: #333;
   
 
}

.intro_inner{
    height: 100vh;
}
.info-bar {
    background-color: rgba(88, 125, 113, 0.7);
    color: #fff;
    padding: 100px;
    text-align: center;
    border-radius: 10px; /* Закругленные края */
    position: fixed; /* Фиксированное положение */
    top: 900px; /* Закрепляем плашку вверху */
    left: 0; /* Закрепляем плашку влево */
    width: 100%; /* Ширина на всю ширину экрана */
    z-index: 999; /* Устанавливаем z-index, чтобы плашка была выше остального контента */
    backdrop-filter: blur(100px);
}
.slider-container {
    position: relative;
    overflow: hidden;
    border-radius: 100px;
    width: 400px;
    height: 400px;
    

}

.swiper-slide {
    width: auto;
    height: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-pagination {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

   


.header {
    
    width: 100%;
    padding-top: 20px;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: block;
    height: 100vh;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: calc(var(--index) * 2);
    font-weight: 700;
    color: #F3EFE0;
}

.nav {
    font-size: 15px;
    text-transform: uppercase;
    
}


.dropdown {
    position: relative;
    display: inline-block;
}

.main-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.main-button img {
    width: 80px; 
    height: 40px; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(53, 104, 60, 0.3);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
#scene-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}
.nav_link2 {
    display: inline-block;
    vertical-align: top;
    
    position: relative;
    
    color:antiquewhite;
    text-decoration: none;
    
    transition: color 0.2s linear;
}

.nav_link2:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;    
    opacity: 0;
    background-color: #ccfaef;
    text-shadow: 0 0 5px #9773f3;
    position: absolute;
    
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .2s linear;
}

.nav_link2:hover {
    color: #ccfaef;
    text-shadow: 0 0 5px #9773f3;
    
}
.nav_link2:hover:after{
    display: block;
    opacity: 1;
    
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 13px;
    position: relative;
    
    color:antiquewhite;
    text-decoration: none;
    
    transition: color 0.2s linear;
}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;    
    opacity: 0;
    background-color: #ccfaef;
    text-shadow: 0 0 5px #9773f3;
    position: absolute;
    
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .2s linear;
}

.nav_link:hover {
    color: #ccfaef;
    text-shadow: 0 0 5px #9773f3;
    
}
.nav_link:hover:after{
    display: block;
    opacity: 1;
    
}
.gallery {
	display: flex;
	padding: calc(var(--index) * 8) 0;
}
.gallery > * {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.gallery__item {
	max-width: calc(var(--index) * 21);
	margin-bottom: var(--gallery-gap);
	max-height: 180vh;
	border-radius: 400px;
}
.gallery__left {
	margin-top: calc(var(--gallery-gap) * 1.75);
}
.gallery__right .gallery__item {
	margin: 0;
	margin-top: var(--gallery-gap);
}
.text-block {
	color: #F3EFE0;
	position: relative;
}
.text-block__h {
	font-size: 2rem;
	line-height: 2.4rem;
	color: #F3EFE0;
     text-transform: uppercase;
	margin-bottom: 1.5rem;
}
.text-block__p {
	line-height: 1.75;
}

.fon {
    background: black;
}


.footer-container {
    display:flex;
    justify-content: space-around;
    background-color: #333;
    color: #da6464;
    padding: 20px;
    position:relative;
}

.footer-info,
.footer-contact,
.footer-social {
    flex: 1;
    margin-right: 20px;
}

.footer-info h2 {
    font-size: 24px;
}

.footer-contact h3,
.footer-social h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-contact p,
.footer-social a {
    color: #fff;
    text-decoration: none;
}

.copyright {
    background-color: #222;
    padding: 10px;
    text-align: center;
    color: #fff;
}